* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.weather {
    opacity: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #293241;
}

.header {
    display: none;
}

#doodle {
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.app img {
    width: 300px;
    position: absolute;
    margin: 30px 0 0 100px;
}

.card {
    width: 100%;
    max-width: 470px;
    background: #171d25;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px);
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search input {
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
    width: 75%;
}

#appImg {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px);
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search button:active {
    background-color: #cedbd9;
}

.search button div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.location h4 {
    font-size: 16px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 600;
}

.weather h2 {
    font-size: 36px;
    font-weight: 500;
    margin-top: -20px;
}

.weather h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: -20px;
}

.temp_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.min-max {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    gap: 20px;
}

.min-max p {
    font-size: 12px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    margin-top: 50px;
    flex-wrap: wrap;
    white-space: nowrap;
    row-gap: 25px;
}

.details_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    flex: 1;
    gap: 10px;
}

.col2 {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex: 1;
    margin-top: -30px;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind,
.sunrise,
.sunset {
    font-size: 16px;
    margin-top: -6px;
    text-align: left;
}

.col p {
    text-align: left;
    filter: drop-shadow(2);
}

.col2 p {
    text-align: center;
}

.date {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: -30px;
    text-align: center;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
    color: #FF6677;
}

.day {
    color: #555;
}

@media only screen and (max-width: 1439px) {
    .app img {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .card {
        width: 100%;
        max-width: 100%;
        margin: 0;
        border-radius: 0px;
        padding: 20px 20px;
        text-align: center;
        height: 100%;
        filter: none;
        min-height: 100vh;
    }

    .date {
        text-align: center;
    }

    .details {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 0;
        min-width: 250px;
        align-items: center;
    }

    .col {
        width: 100%;
        gap: 20px;
        padding: 0 2vh 0 2vh;
    }

    .app img {
        display: none;
    }

    form {
        margin-top: 55px;
    }
    .search input{
        height: 45px;
        font-size: 16px;
    }
    .search button{
        width: 45px;
        height: 45px;
    }

    .search button img{
        width: 14px;
    }

    .header {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        position: fixed;
        top: 0;
        margin-bottom: 100px;
        left: 0;
        z-index: 9999;
        width: 100%;
        background: rgba(0, 0, 0, 0.23);
        backdrop-filter: blur(11.8px);
        -webkit-backdrop-filter: blur(11.8px);
    }

    .header img {
        width: 40px;
    }

    .header p {
        font-size: 24px;
        color: #fff;
        font-weight: 600;
    }
}

@media only screen and (max-width: 320px) {
    .col {
        width: 80%;
        gap: 20px;
        padding: 0 0.5vh 0 1vh;
    }
}